<form action="{{ url_for('send_reset_link') }}" method="post">    
    <h1>Reset Password</h1>
    <p>Enter the email address associated with your account, and we'll send a password reset link if it exists.</p>
    
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="your.email@example.com">
    </div>  
    
    <button type="submit" class="btn btn-primary">Send Reset List</button>
</form>

