{% extends "sidebar.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <h1 class="page-title">{{ view_title }}</h1>

    <div class="books-grid" id="booksGrid">
        {% for book in books %}
            <div class="book-card" onclick="window.location.href='{{ url_for('main.book_details', book_id=book.book_id) }}'"> 
                <div class="book-info">
                    <h3 class="book-title">{{ book.title }}</h3>
                    <p class="book-author">Author: {{ book.authors }}</p>
                    <p class="genre-text">{{ book.genres }}</p> 
                    
                    <div class="meta-tags">
                        <span class="rating-badge">
                            <i class="fa-solid fa-star"></i> {{ book.average_rating }}
                        </span>

                        {% if book.available_copies > 0 %}
                            <span class="book-status available">Available</span>
                        {% else %}
                            <span class="book-status on-loan">On Loan</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <p>No books found.</p>
        {% endfor %}
    </div>

    {% endblock %}